
<div class="container-fluid">
  <div class="row">

    <% Product.all.each do |product| %>
    <div class="col-md-6">

        <table class="table cart-list">
          <tr>
            <td width='30%'>
              <img src="/<%= product.title %>.jpg"  width="100px" height="100px" />
            </td>
            <td width='70%'>
              <%= product.title %> <br />
              单价: <%= product.price %> <br />

              <p>
                <a class="btn btn-default add-to-cart" style='margin-top: 5px;' data-id="<%= product.id %>" href="#">
                加入购物车
              </a>
              </p>
            </td>
          </tr>
        </table>
        
            
        

      </div>


    <% end %>


  </div>
</div>
